* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-position: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
}

.login-box h2 {
    color: white;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.input-group input::placeholder {
    color: #ccc;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #FFCC00;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #E6B800;
}

.options {
    margin-top: 25px;
}

.options a {
    color: white;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}
